<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Log In Here!</title>
  </head>
  <body>
    <h2>Welcome back, Log in here!</h2>
    <form action="/login" method="POST">
      <label for="username">Username:</label>
      <input type="text" name="username" id="username" required />

      <label for="password">Password:</label>
      <input type="password" name="password" required />

      <button type="submit">Log In</button>
    </form>
    <br />
    {{#if errorMessage}}
      <div id="exist" class="error">{{errorMessage}}</div>
    {{/if}}
    <br />

    <a href="/">Back to Home</a>

  </body>
</html>